*{
	font-family: "DIN Next", sans-serif;
}

#outer{
	border : 2px solid #98a7b8;
	margin: 3% 20% 5% 20%;
}
#inner{
	border : 2px solid #98a7b8;
	background-color: #dfe6ed;
	width: 60%;
	margin-top: 10%;
	padding-top: 2%;
	padding-bottom: 4%;
}
#clickhere{
	border-radius: 25px;
	background-color: #c3cfd9;
	width: 35%;
	margin-top: 5%;
	margin-bottom: 5%;
	padding: 2% 1% 2% 1%;
}
#company{
	font-size: 70px ;
	margin-top: 20px;
	margin-bottom: 0;
	padding-bottom: 0;
}

hr{
	background-color: #b1bdc7;
	border: 1px solid #b1bdc7;
	width: 97%;

}
input[type=text],input[type=password],input[type=email],select {
  padding: 10px 10px;
  margin: 8px 0;
  border: 1px solid  #98a7b8;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
}
input[type=submit] {
  width: 15%;
  background-color: #6558f5;
  color: white;
  padding: 10px 10px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

#link:hover {
  background-color: #45a049;
}

#link{
	color: white;
	text-decoration: none;
	display: block;
	width: 10%;
  background-color: #6558f5;
  padding: 10px 10px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#prof{
	background-color: #dfe6ed;
	border-radius: 100px;
}

